.container {
  width: 736px;
  height: 54px;
  margin: auto;
  margin-top: -25px;
}

.inputContainer {
  display: flex;
}

.input {
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-100);
}

.input:focus {
  border-color: var(--purple-dark);
  outline: none;
}

.button {
  display: flex;
  margin-left: 8px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-dark);
  box-shadow: none;
  color: var(--gray-100);
  width: 90px;
  height: 52px;
}

.button:hover {
  background: var(--blue);
}

.buttonText {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
}
