.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 24px;
}

.tarefas {
  color: var(--blue);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.concluidas {
  color: var(--purple);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
