.container {
  display: flex;
  justify-content: center;
}

.todoListContainer {
  margin-top: 65px;
  width: 736px;
  gap: 24px;
  align-items: center;
  flex-direction: column;
}

.taskContainer {
  position: relative;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  margin-bottom: 12px;

  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.task {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  flex: 1 0 0;
}

.taskCompleted {
  color: var(--gray-300);
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: line-through;
}

.trashButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.trashIcon {
  width: 24px;
  height: 24px;
  color: var(--gray-300);
}

.radioButton {
  width: 24px;
  height: 24px;
}
