.header {
  background: #0d0d0d;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divTitle {
  display: flex;
  align-items: center;
}

.rocket {
  width: 22px;
  height: 36px;
  flex-shrink: 0;
  margin: 0px 12px -5px;
}

.title1 {
  color: var(--blue, #4ea8de);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.title2 {
  color: var(--purple-dark, #5e60ce);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
